<h1>{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.MODELE_TENSORFLOW' | translate }}</h1>
<div class="ligne">
  <label>{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.NOMBRE_TENSEURS' | translate }} :</label>
  <span class="nombre">{{ nombreTenseurs }}</span>
  <p-floatlabel>
    <p-select id="backend" [options]="backends" [(ngModel)]="backend" size="small"
              (onChange)="changeBackend()"></p-select>
    <label for="backend">{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.BACKEND' | translate }}</label>
  </p-floatlabel>
  @if (backendChangeAvecSucces) {
    <p-floatlabel>
      <input id="tauxApprentissage" type="text" pInputText [(ngModel)]="tauxApprentissage" pSize="small" size="7"/>
      <label for="tauxApprentissage">{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.TAUX_APPRENTISSAGE' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel>
      <input id="epochs" type="text" pInputText [(ngModel)]="epochs" pSize="small" size="5"/>
      <label for="epochs">{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.EPOCHS' | translate }}</label>
    </p-floatlabel>
    @if (donnees) {
      <p-button
        label="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.ENTRAINER_MODELE' | translate }}"
        (onClick)="entrainerModele()"/>
    }
    @if (modele) {
      <p-floatlabel>
        <input id="valeur" type="text" pInputText [(ngModel)]="valeur" pSize="small" size="5"/>
        <label for="valeur">{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.VALEUR' | translate }}</label>
      </p-floatlabel>
      <p-button
        label="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.PREDIRE_AVEC_LE_MODELE' | translate }}"
        (onClick)="predireAvecLeModele()"/>
    } @else {
      <app-barre-progression [pourcentage]="progressionEntrainement" largeur="20rem"></app-barre-progression>
    }
  }
  @if (prediction) {
    <span class="prediction">{{ prediction | json }}</span>
  }
</div>
<div class="courbes">
  @if (donneesChart) {
    <p-chart type="scatter" [data]="donneesChart" [options]="donneesChartOptions"/>
  }
  @if (entrainementChart) {
    <p-chart type="line" [data]="entrainementChart" [options]="entrainementChartOptions"/>
  }
</div>
