div.ligne
  margin: 1rem
  display: flex
  flex-direction: row
  align-items: center
  overflow: visible

  span.nombre
    margin-left: 0.25rem

  span.prediction
    font-weight: bold

  p-floatlabel, p-button, app-barre-progression, span.prediction
    margin-left: 1rem

div.courbes
  display: flex
  flex-direction: row

  p-chart
    width: 50%
