<h1>{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.MODELE_TENSORFLOW' | translate }}</h1>
<div class="ligne">
  <label>{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.NOMBRE_TENSEURS' | translate }}</label>
  <span>{{nombreTenseurs}}</span>
  <p-select [options]="backends" [(ngModel)]="backend" size="small"
            (onChange)="changeBackend()"
            placeholder="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.BACKEND' | translate }}"></p-select>
  @if (backendChangeAvecSucces) {
    <input type="text" pInputText [(ngModel)]="epochs" pSize="small" size="5"
           placeholder="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.EPOCHS' | translate }}"/>
    <p-button
      label="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.ENTRAINER_MODELE' | translate }}"
      (onClick)="entrainerModele()"/>
    @if (modele) {
      <p-button
        label="{{ 'COMPOSANTS.PARAMETRAGE.MODELE_APPRENTISSAGE_AUTOMATIQUE.PREDIRE_AVEC_LE_MODELE' | translate }}"
        (onClick)="predireAvecLeModele()"/>
    } @else {
      <app-barre-progression [pourcentage]="progressionEntrainement" largeur="20rem"></app-barre-progression>
    }
  }
  @if (prediction) {
    <span class="prediction">{{ prediction | json }}</span>
  }
</div>
<div class="courbes">
  @if (donneesChart) {
    <p-chart type="scatter" [data]="donneesChart" [options]="donneesChartOptions"/>
  }
  @if (entrainementChart) {
    <p-chart type="line" [data]="entrainementChart" [options]="entrainementChartOptions"/>
  }
</div>
