<p-dialog
  header="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.COURS_TICKER' | translate : {valeur: cours?.libelle, ticker:  cours?.ticker} }}"
  [modal]="true" [(visible)]="visible">
  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '70vh', width: '100%'}
      ]"></app-loader>

  @if (!loading && coursBoursorama) {
    <div class="ligne">
      <div class="colonne">
        <p-fieldset legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.COTATIONS' | translate }}">
          <div class="cotations">
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.COURS' | translate }}</label>
              <span>{{ coursBoursorama.cours | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.OUVERTURE' | translate }}</label>
              <span>{{ coursBoursorama.ouverture | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.CLOTURE' | translate }}</label>
              <span>{{ coursBoursorama.cloture | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.PLUS_HAUT' | translate }}</label>
              <span>{{ coursBoursorama.plusHaut | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.PLUS_BAS' | translate }}</label>
              <span>{{ coursBoursorama.plusBas | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.VOLUME' | translate }}</label>
              <span>{{ coursBoursorama.volume | number }}</span>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.ORDRES' | translate }}">
          <p-chart type="doughnut" [data]="data"/>
        </p-fieldset>
      </div>
      <div class="colonne">
        <p-fieldset
          legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.INDICATEURS' | translate }}">
          <div class="cotations">
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.CAPITAL_ECHANGE' | translate }}</label>
              <span>{{ coursBoursorama.pourcentageCapitalEchange  | percent:'1.2-2' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.VALORISATION' | translate }}</label>
              <span>{{ coursBoursorama.valorisation }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.LIMITE_BAISSE' | translate }}</label>
              <span>{{ coursBoursorama.limiteBaisse | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.LIMITE_HAUSSE' | translate }}</label>
              <span>{{ coursBoursorama.limiteHausse | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.RENDEMENT_ESTIME' | translate }}</label>
              <span>{{ coursBoursorama.pourcentageRendementEstime  | percent:'1.2-2' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.PER_ESTIME' | translate }}</label>
              <span>{{ coursBoursorama.perEstime | number }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.DERNIER_DIVIDENDE' | translate }}</label>
              <span>{{ coursBoursorama.dernierDividende | currency:'€' }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.DATE_DERNIER_DIVIDENDE' | translate }}</label>
              <span>{{ coursBoursorama.dateDernierDividende }}</span>
            </div>
            <div>
              <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COURS_TICKER.RISQUE_ESG' | translate }}</label>
              <span>{{ coursBoursorama.risqueESG }}</span>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  }
</p-dialog>
