<div class="formulaire">
  <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.NOMBRE_TENSEURS' | translate }} :</label>
  <span class="nombre">{{ nombreTenseurs }}</span>
  <p-floatlabel>
    <p-select id="backend" [options]="backends" [(ngModel)]="backend" size="small"
              (onChange)="changeBackend()" [invalid]="!backendChangeAvecSucces"></p-select>
    <label for="backend">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.BACKEND' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-select id="optimiseur" [options]="optimiseurs" [(ngModel)]="parametres()!.optimiseur" size="small"></p-select>
    <label for="optimiseur">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.OPTIMISEUR' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-inputNumber id="tauxApprentissage" [(ngModel)]="parametres()!.tauxApprentissage"
                   size="small" [inputSize]="7" mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="3"/>
    <label
      for="tauxApprentissage">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.TAUX_APPRENTISSAGE' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-multiselect id="pertes" [options]="pertes" [(ngModel)]="parametres()!.fonctionsPertes" size="small"/>
    <label for="pertes">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.FONCTIONS_PERTE' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-multiselect id="metriques" [options]="metriques" [(ngModel)]="parametres()!.metriques" size="small"/>
    <label for="metriques">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.METRIQUES' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-inputNumber id="iterations" [(ngModel)]="parametres()!.iterations" size="small" [inputSize]="5"
                   title="{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.ITERATIONS_DESCRIPTION' | translate }}"/>
    <label for="iterations">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.ITERATIONS' | translate }}</label>
  </p-floatlabel>
  <p-floatlabel>
    <p-inputNumber id="lot" [(ngModel)]="parametres()!.lot" size="small" [inputSize]="5"
                   title="{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.LOT_DESCRIPTION' | translate }}"/>
    <label
      for="lot">{{ 'COMPOSANTS.PARAMETRAGE.ML.FORMULAIRE.LOT' | translate }}</label>
  </p-floatlabel>
</div>
