span.pi-eye
  cursor: pointer
  color: var(--p-blue-700)

p-table
  th:nth-child(1)
    width: 6rem
    text-align: right

  th:nth-child(2)
    width: 6rem

  td:nth-child(1)
    div
      display: flex
      flex-direction: row
      align-items: center

      span:nth-child(1)
        flex: 0
        cursor: pointer

        &.pi-arrow-circle-up
          color: var(--p-green-600)

        &.pi-arrow-circle-down
          color: var(--p-red-600)

      span:nth-child(2)
        flex: auto
        text-align: right


  td:nth-child(3)
    cursor: pointer
    color: var(--p-blue-700)

