<span class="pi pi-sync" (click)="visible = true"
      title="{{ 'COMPOSANTS.DIVIDENDES.IMPORT_EXPORT.IMPORT_EXPORT' | translate }}"></span>

<p-dialog [header]="'COMPOSANTS.DIVIDENDES.IMPORT_EXPORT.IMPORT_EXPORT' | translate"
          [modal]="true" (onShow)="reinitialiserVue()" [(visible)]="visible">

  <div class="conteneur">
    <div class="mois">
      @for (mois of moisDejaImportes; track mois) {
        <p-chip [label]="(mois | date: 'MMMM yyyy') || '???'" [removable]="true"></p-chip>
      }
    </div>

    <p-floatlabel>
      <textarea id="dividendes" rows="15" cols="80"
                pTextarea [(ngModel)]="dividendes"
                [ngClass]="{'error': erreur !== undefined}"></textarea>
      <label for="dividendes">
        {{ 'COMPOSANTS.DIVIDENDES.IMPORT_EXPORT.DIVIDENDES' | translate }}
      </label>
    </p-floatlabel>

    @if (erreur !== undefined) {
      <div class="erreur">
        <span class="pi pi-exclamation-circle"></span>
        <span>{{ erreur }}</span>
      </div>
    }

    <div class="boutons">
      <p-button type="button" (click)="exporter()" severity="warn" [icon]="'pi pi-download'"
                label="{{ 'COMPOSANTS.DIVIDENDES.IMPORT_EXPORT.EXPORTER' | translate }}"/>
      <p-button type="button" (click)="importer()" severity="danger" [icon]="'pi pi-upload'"
                label="{{ 'COMPOSANTS.DIVIDENDES.IMPORT_EXPORT.IMPORTER' | translate }}"/>
    </div>
  </div>
</p-dialog>
