.actions-valeur
  .pi
    cursor: pointer
    color: var(--p-blue-700)

  .pi::before
    margin-right: 0.5rem

  & > div
    margin: 0.5rem

p-panel
  z-index: 10
  position: absolute
  top: 20vh
  left: 20vw

  .titre
    width: 100%

    .pi-times-circle
      cursor: pointer

    span:nth-child(1)
      font-size: 1.25rem

    span:nth-child(2)
      margin-left: 1rem
      float: right
