div.conteneur
  display: flex
  flex-direction: column
  margin-top: 1rem

  div
    display: flex
    flex-direction: row
    align-items: center

    label
      min-width: 10rem
      font-weight: bold
