div.erreur
  margin: 1rem

  span
    font-size: 1.25rem

  .pi-exclamation-circle
    color: var(--p-red-800)

  .pi-exclamation-circle::before
    margin-right: 0.5rem

div.titre
  display: flex
  flex-direction: row

  .pi
    cursor: pointer
    color: var(--p-blue-700)

  & > span:nth-child(1)
    font-size: 1.25rem

  & > span:nth-child(2), & > app-import-export
    margin-left: 1.5rem


.tableau
  display: flex

  .pi
    cursor: pointer

  .paysage, .portrait
    margin: 0.5rem

@media screen and (orientation: portrait)
  .tableau
    flex-direction: column

@media screen and (orientation: landscape)
  .tableau
    flex-direction: row
