@if (tableaux) {
  <p-card>
    <div class="titre">
      <h2>{{ 'COMPOSANTS.GESTION_TABLEAUX.TABLEAUX' | translate }}</h2>
      <span class="pi pi-save" (click)="enregistrer()"
            title="{{ 'COMPOSANTS.GESTION_TABLEAUX.ENREGISTRER' | translate }}"></span>
      <app-dialog-import-export></app-dialog-import-export>
      <span class="message">{{ succes }}</span>
    </div>
    @if (erreur !== undefined) {
      <div class="erreur">
        <span class="pi pi-exclamation-circle"></span>
        <span>{{ erreur }}</span>
      </div>
    }
    <div class="tableau">
      <div class="paysage">
        <h4>{{ 'COMPOSANTS.GESTION_TABLEAUX.PAYSAGE_PORTEFEUILLE' | translate }}</h4>
        <app-configuration-tableau
          [configuration]="{colonnes: tableaux.portefeuille.colonnesPaysage, type: TypesColonnes.PORTEFEUILLE}"></app-configuration-tableau>
      </div>
      <div class="portrait">
        <h4>{{ 'COMPOSANTS.GESTION_TABLEAUX.PORTRAIT_PORTEFEUILLE' | translate }}</h4>
        <app-configuration-tableau
          [configuration]="{colonnes: tableaux.portefeuille.colonnesPortrait, type: TypesColonnes.PORTEFEUILLE}"></app-configuration-tableau>
      </div>
    </div>
  </p-card>
}
