div.titre
  display: flex
  flex-direction: row

  .pi
    cursor: pointer
    color: var(--p-blue-700)

  & > span:nth-child(1)
    font-size: 1.25rem

  & > span:nth-child(2), & > app-import-export
    margin-left: 1.5rem

  .message
    margin-left: 1rem
    color: var(--p-green-800)

div.erreur
  margin: 1rem
  color: var(--p-red-800)
  display: flex
  flex-direction: row
  align-items: center

  & > span:not(.pi)
    margin-left: 0.5rem
    font-size: 1.25rem

.tableau
  display: flex

  .pi
    cursor: pointer

  .paysage, .portrait
    margin: 0.5rem

@media screen and (orientation: portrait)
  .tableau
    flex-direction: column

@media screen and (orientation: landscape) and (max-resolution: 150dpi)
  .tableau
    flex-direction: row

@media screen and (orientation: landscape) and (min-resolution: 150dpi)
  .tableau
    flex-direction: column
