<p-dialog [showHeader]="false" [modal]="true" [(visible)]="visible">
  <div class="barre-superieure-sticky">
    <h2>
      {{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.COURS_ACHATS' | translate }}
    </h2>
    <span class="pi pi-refresh" (click)="rafraichir()"
          title="{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.RAFRAICHIR' | translate }}"></span>
    <span class="pi pi-times-circle" (click)="fermer()"
          title="{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.FERMER' | translate }}"></span>
  </div>

  <app-loader [affiche]="loading" [configuration]="[
      {marginLeft: '0', marginTop: '1rem', height: '20vh', width: '100%'}
  ]"></app-loader>

  @if (!loading && coursNonRevendus) {
    <p-table [value]="coursNonRevendus">
      <ng-template #header>
        <tr>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.VALEUR' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.DIVIDENDES' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.PRIX_ACHAT' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.COURS' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.VARIATION_ACHAT' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.VARIATION_HAUT' | translate }}</th>
          <th>{{ 'COMPOSANTS.ACHATS_VALEURS.DIALOG_COURS.VARIATION_BAS' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-achatValeurDecore>
        <tr>
          <td>{{ achatValeurDecore.valeur.libelle }}</td>
          <td>
            <app-colonne-dividendes [dividendes]="achatValeurDecore.dividendes"></app-colonne-dividendes>
          </td>
          <td>{{ achatValeurDecore.achatDecore.achat.prix  | currency:'EUR':'symbol' }}</td>
          <td>{{ achatValeurDecore.achatDecore.cours | currency:'EUR':'symbol' }}</td>
          <td [appClassVariation]="achatValeurDecore.achatDecore.variationAchat">
            {{ achatValeurDecore.achatDecore.variationAchat | percent:'1.2-2' }}
          </td>
          <td>{{ achatValeurDecore.achatDecore.variationHaut | percent:'1.2-2' }}</td>
          <td>{{ achatValeurDecore.achatDecore.variationBas | percent:'1.2-2' }}</td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-dialog>
