<app-dialog-achats-valeur></app-dialog-achats-valeur>
<app-dialog-cotations-valeur></app-dialog-cotations-valeur>
<app-dialog-cotations-valeurs-portefeuille></app-dialog-cotations-valeurs-portefeuille>

<p-popover>
  @if (cours) {
    <div class="actions-valeur">
      <div class="libelle" (click)="coursBoursoramaPortefeuille()">
        <span class="pi pi-download"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.COURS_BOURSORAMA_PORTEFEUILLE' | translate }}</span>
      </div>
      <div class="libelle" (click)="achats()">
        <span class="pi pi-shopping-bag"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.ACHATS' | translate }}</span>
      </div>
      <div class="libelle" (click)="abcBourse()">
        <span class="pi pi-external-link"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.ABCBOURSE' | translate }}</span>
      </div>
      <div class="libelle" (click)="boursorama()">
        <span class="pi pi-external-link"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.BOURSORAMA' | translate }}</span>
      </div>
      @if (!portefeuilleAchats && portefeuilleAffiche && portefeuilleAffiche.tickers.length > 1) {
        <div class="libelle" (click)="suppressionDuPortefeuille($event)">
          <span class="pi pi-minus-circle"></span>
          <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.SUPPRIMER_DU_PORTEFEUILLE' | translate }}</span>
        </div>
      }
      @if (!portefeuilleAchats && nomsPortefeuillesDisponibles && nomsPortefeuillesDisponibles.length > 0) {
        <div>
          <div class="libelle" (click)="ajouterAuPortefeuille()">
            <span class="pi pi-plus-circle"></span>
            <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.AJOUTER_AU_PORTEFEUILLE' | translate }}</span>
          </div>
          <p-select [options]="nomsPortefeuillesDisponibles" [(ngModel)]="nomsPortefeuilleSelectionne"
                    size="small"></p-select>
        </div>
        @if (portefeuilleAffiche && portefeuilleAffiche.tickers.length > 1) {
          <div>
            <div class="libelle" (click)="deplacerDansPortefeuille()">
              <span class="pi pi-plus-circle"></span>
              <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DEPLACER_DANS_PORTEFEUILLE' | translate }}</span>
            </div>
            <p-select [options]="nomsPortefeuillesDisponibles" [(ngModel)]="nomsPortefeuilleSelectionne"
                      size="small"></p-select>
          </div>
        }
      }
    </div>
  }
</p-popover>
