@if (cours !== undefined) {
  <app-formulaire-cle-api-gemini [visible]="afficherFormulaireCleApiGemini"
                                 (modifie)="afficherFormulaireCleApiGemini=false"
                                 (abandon)="afficherFormulaireCleApiGemini=false"></app-formulaire-cle-api-gemini>

  @if (!loading && !afficherFormulaireCleApiGemini && !conseilsGeminiTicker) {
    <div class="boutons">
      <span class="pi pi-pencil" (click)="afficherFormulaireCleApiGemini=true"></span>
      <span class="pi pi-play-circle" (click)="interrogerApiGemini()"></span>
    </div>
  }

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '15rem', width: '100%'}
      ]"></app-loader>

  @if (erreurAPIGemini) {
    <div class="erreur">{{ erreurAPIGemini }}</div>
  }

  <app-resultat-api-gemini [dto]="conseilsGeminiTicker"></app-resultat-api-gemini>
}
