div.conteneur
  display: flex

  .pi-chart-line
    font-size: 0.85rem
    cursor: pointer
    margin-right: 0.5rem

  .pi-chart-line.positive
    color: var(--p-green-600)

  .pi-chart-line.negative
    color: var(--p-red-600)

// mobile & tablette vertical
@media screen and (min-resolution: 100dpi) and (orientation: portrait)
  div.conteneur
    flex-direction: column

// mobile & tablette horizontal
@media screen and (min-resolution: 100dpi) and (orientation: landscape)
  div.conteneur
    flex-direction: row

    &.avec-details
      app-cours, app-details
        width: 70%

      p-accordion
        width: 30%

        p-table
          tr
            th:nth-child(-n+2), td:nth-child(-n+2)
              width: 50%

            th:nth-child(n+3), td:nth-child(n+3)
              display: none

// écran horizontal
@media screen and (max-resolution: 100dpi) and (orientation: landscape)
  div.conteneur
    flex-direction: row

    &.avec-details
      p-accordion
        p-table
          tr
            th:nth-child(-n+2), td:nth-child(-n+2)
              width: 50%

            th:nth-child(n+3), td:nth-child(n+3)
              display: none

      @media screen and (max-aspect-ratio: 1.8)
        app-cours, app-details
          width: 75%

        p-accordion
          width: 25%

      @media screen and (min-aspect-ratio: 1.8) and (max-aspect-ratio: 1.9)
        app-cours, app-details
          width: 70%

        p-accordion
          width: 30%

      @media screen and (min-aspect-ratio: 1.9)
        app-cours, app-details
          width: 60%

        p-accordion
          width: 40%
