h3
  display: flex
  flex-direction: row
  align-items: baseline

  p-skeleton
    margin-left: 0.5rem

div.conteneur
  display: flex

  .pi
    margin-right: 0.5rem

  .pi-arrow-circle-up
    color: var(--p-green-600)

  .pi-arrow-circle-down
    color: var(--p-red-600)

  p-table
    td
      cursor: pointer

// orientation verticale
@media screen and (orientation: portrait)
  div.conteneur
    flex-direction: column

@media screen and (orientation: landscape)
  div.conteneur
    flex-direction: row

    &.avec-details
      p-accordion
        p-table
          tr
            th:nth-child(-n+2), td:nth-child(-n+2)
              width: 50%

            th:nth-child(n+3), td:nth-child(n+3)
              display: none

      @media screen and (max-aspect-ratio: 2.1)
        app-cours, app-details
          width: 70%

        p-accordion
          width: 30%

      @media screen and (min-aspect-ratio: 2.1)
        app-cours, app-details
          width: 60%

        p-accordion
          width: 40%
