div.titre
  display: flex
  flex-direction: row
  align-items: center

  & > span:nth-child(1)
    font-size: 1.25rem

  app-actualites, app-import-export, app-selecteur-filtre
    margin-left: 1rem

div.conteneur
  margin-top: 1rem
