@if (couche) {
  <div class="couche">
    <div>{{ couche.fonctionActivation }} (</div>
    <table>
      <thead>
      <th [colSpan]="couche.neurones[0].poids.length">
        {{ 'COMPOSANTS.PARAMETRAGE.REGRESSION_SUPERVISEE.COUCHE_DENSE.POIDS_NEURONES' | translate }}
      </th>
      </thead>
      <tbody>
        @for (neurone of couche.neurones; track $index) {
          <tr>
            @for (poids of neurone.poids; track $index) {
              <td>{{ poids | number:'1.2-2' }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
    <div>*</div>
    <table>
      <tbody>
        @for (v of couche.neurones[0].poids; track $index; let i = $index) {
          <tr>
            <td>a<sup>{{ couche.numero - 1 }}</sup><sub>{{ i }}</sub></td>
          </tr>
        }
      </tbody>
    </table>
    <div>+</div>
    <table>
      <thead>
      <th>
        {{ 'COMPOSANTS.PARAMETRAGE.REGRESSION_SUPERVISEE.COUCHE_DENSE.BIAIS_NEURONES' | translate }}
      </th>
      </thead>
      <tbody>
        @for (neurone of couche.neurones; track $index) {
          <tr>
            <td>{{ neurone.biais | number:'1.2-2' }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div>) =</div>
    <table>
      <tbody>
        @for (neurone of couche.neurones; track $index; let i = $index) {
          <tr>
            <td>a<sup>{{ couche.numero }}</sup><sub>{{ i }}</sub></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
