@if (modeleEtDonnees) {
  <div class="conteneur">
    <div class="parametres">
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.OPTIMISEUR' | translate }}</label>
        <span>{{ modeleEtDonnees.modele.optimiseur.nom }}</span>
      </div>
      @for (parametre of modeleEtDonnees.modele.optimiseur.parametres; track parametre.nom) {
        <div class="details">
          <label>{{ parametre.nom }}</label>
          <span>{{ parametre.valeur }}</span>
        </div>
      }
    </div>
    <div class="parametres">
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.FONCTIONS_PERTE' | translate }}</label>
        <span>{{ modeleEtDonnees.modele.fonctionsPerte }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.METRIQUES' | translate }}</label>
        <span>{{ modeleEtDonnees.modele.metriques }}</span>
      </div>
    </div>
    <app-explorateur-entrees-sorties [modeleEtDonnees]="modeleEtDonnees"></app-explorateur-entrees-sorties>
  </div>
  <div class="couches">
    @for (couche of modeleEtDonnees.modele.couches; track couche.numero) {
      <div>
        @switch (couche.type) {
          @case (TypeCouche.DENSE) {
            <app-couche-dense [couche]="couche"></app-couche-dense>
          }
          @case (TypeCouche.CONV2D) {
            <app-couche-conv2d [couche]="couche"></app-couche-conv2d>
          }
          @case (TypeCouche.MAXPOOLING2D) {
            <app-couche-maxpooling2d [couche]="couche"></app-couche-maxpooling2d>
          }
          @case (TypeCouche.FLATTEN) {
            <app-couche-flatten [couche]="couche"></app-couche-flatten>
          }
          @case (TypeCouche.RESHAPE) {
            <app-couche-reshape [couche]="couche"></app-couche-reshape>
          }
          @case (TypeCouche.CONV1D) {
            <app-couche-conv1d [couche]="couche"></app-couche-conv1d>
          }
          @case (TypeCouche.MAXPOOLING1D) {
            <app-couche-maxpooling1d [couche]="couche"></app-couche-maxpooling1d>
          }
        }
      </div>
    }
  </div>
}
