div.images
  div
    margin: 1rem
    border: 0.1rem solid black
    display: inline-block
    text-align: center

div.entrainement
  margin: 1rem
  display: flex
  flex-direction: row
  align-items: center

  app-barre-progression
    margin-left: 1rem
