@if (valeur) {
  <p-panel>
    <ng-template #header>
      <div class="barre-superieure">
        @if (!loading) {
          <h1>
            <span class="pi" [class]="cours!.iconeVariation()"></span>
            {{ cours!.libelle }} ({{ cours!.date | date:'dd/MM/yyyy' }})
          </h1>
          <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
        }
      </div>
    </ng-template>

    <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '70vh', width: '100%'}
      ]"></app-loader>

    @if (!loading) {
      <div class="content">
        <app-encarts-valeur [cours]="cours"></app-encarts-valeur>
        <app-charts [cours]="cours"></app-charts>
      </div>
    }
  </p-panel>
}
