<p-dialog [header]="titre" [modal]="true" [visible]="portefeuilleEnModification !== undefined" closable="false">
  @if (portefeuilleEnModification !== undefined) {
    <div *ngIf="loading">
      <p-progressbar mode="indeterminate" [style]="{'height': '10px'}"/>
    </div>

    <div *ngIf="!loading">
      <div class="header-picklist">
        <div>{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.SOURCE' | translate }}</div>
        <div>{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.TARGET' | translate }}</div>
      </div>
      <p-picklist [source]="valeursSource" [target]="valeursTarget"
                  [showSourceControls]="false" [showTargetControls]="false"
                  [responsive]="true"
                  filterBy="libelle"
                  sourceFilterPlaceholder="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.RECHERCHE' | translate }}"
                  targetFilterPlaceholder="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.RECHERCHE' | translate }}">
        <ng-template let-valeur #item>
          {{ valeur.libelle }}
        </ng-template>
      </p-picklist>
      <div class="buttons">
        <p-button
          label="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.ENREGISTRER' | translate }}"
          type="button" severity="danger" (click)="modifierValeursPortefeuille()" />
        <p-button
          label="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.FERMER' | translate }}"
          (onClick)="this.annule.emit()" type="reset" severity="warn"/>
      </div>
    </div>
}
</p-dialog>
