<p-dialog [header]="titre" [modal]="true" [visible]="portefeuilleEnModification !== undefined" closable="false">
  @if (portefeuilleEnModification !== undefined) {
    <app-loader [affiche]="loading" [configuration]="[
      {marginLeft: '0', height: '20rem', width: '40rem'},
      {marginLeft: '10rem', height: '2rem', width: '30rem'}
    ]"></app-loader>

    <div *ngIf="!loading">
      <div class="header-picklist">
        <div>{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.SOURCE' | translate }}</div>
        <div>{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.TARGET' | translate }}</div>
      </div>
      <p-picklist [source]="valeursSource" [target]="valeursTarget"
                  [showSourceControls]="false" [showTargetControls]="false"
                  [dragdrop]="true" [responsive]="true"
                  filterBy="libelle"
                  sourceFilterPlaceholder="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.RECHERCHE' | translate }}"
                  targetFilterPlaceholder="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SELECTEUR_VALEURS.RECHERCHE' | translate }}">
        <ng-template let-valeur #item>
          {{ valeur.libelle }}
        </ng-template>
      </p-picklist>
      <div class="boutons">
        <p-button
          label="{{ 'COMPOSANTS.COMMUN.ABANDONNER' | translate }}"
          (onClick)="this.abandon.emit()" type="reset" severity="warn"/>
        <p-button
          label="{{ 'COMPOSANTS.COMMUN.ENREGISTRER' | translate }}"
          type="button" severity="danger" (click)="modifierValeursPortefeuille()"/>
      </div>
    </div>
  }
</p-dialog>
