span.pi-sync
  cursor: pointer

p-iftalabel
  margin: 2rem

textarea
  &.error
    color: red

div.exemple
  cursor: pointer
  margin: 0 0 0 2rem
  color: var(--p-blue-700)
  font-size: 1.15rem

div.buttons
  width: 100%
  text-align: center

  p-button
    align-items: center
    margin: 0 0.5rem 0 0.5rem
