span.pi-sync
  cursor: pointer
  color: var(--p-blue-700)

div.conteneur
  margin-left: 2rem

  p-floatlabel
    margin-top: 1.5rem

  textarea
    &.error
      color: var(--p-red-600)

  div.exemple
    cursor: pointer
    color: var(--p-blue-700)

  div.erreur
    margin: 1rem

    .pi-exclamation-circle
      color: var(--p-red-600)

    .pi-exclamation-circle::before
      margin-right: 0.5rem

  div.boutons
    text-align: center
    margin-top: 1rem

    p-button
      align-items: center
      margin: 0 0.5rem 0 0.5rem
