<h1>{{ 'COMPOSANTS.PARAMETRAGE.ML.TUTORIELS.REGRESSION_SUPERVISEE.REGRESSION_SUPERVISEE' | translate }}</h1>
<div class="formulaire">
  <app-formulaire-modele [(parametres)]="parametresModele"></app-formulaire-modele>
  @if (donnees) {
    <p-button
      label="{{ 'COMPOSANTS.PARAMETRAGE.ML.TUTORIELS.REGRESSION_SUPERVISEE.ENTRAINER_MODELE' | translate }}"
      (onClick)="entrainerModele()" [icon]="'pi pi-microchip-ai'"/>
    @if (!modeleEtDonnees) {
      <app-barre-progression [pourcentage]="progressionEntrainement" largeur="20rem"></app-barre-progression>
    }
  }
</div>
<div class="resultat">
  @if (donneesChart) {
    <p-chart type="scatter" [data]="donneesChart" [options]="donneesChartOptions"/>
  }
  @if (entrainementChart) {
    <p-chart type="line" [data]="entrainementChart" [options]="entrainementChartOptions"/>
  }
</div>
<app-explorateur-modele [modeleEtDonnees]="modeleEtDonnees"></app-explorateur-modele>
