<h1>{{ 'COMPOSANTS.PARAMETRAGE.ML.TUTORIELS.REGRESSION_SUPERVISEE.REGRESSION_SUPERVISEE' | translate }}</h1>
<div class="formulaire">
  <app-formulaire-modele [(parametres)]="parametresModele"></app-formulaire-modele>
</div>
@if (donnees) {
  <div class="commandes">
    <app-entrainement-modele [progressionEntrainement]="progressionEntrainement"
                             (entrainer)="entrainerModele()"></app-entrainement-modele>
  </div>
}
<div class="resultat">
  @if (donneesChart) {
    <p-chart type="scatter" [data]="donneesChart" [options]="donneesChartOptions"/>
  }
  @if (entrainementChart) {
    <p-chart type="line" [data]="entrainementChart" [options]="entrainementChartOptions"/>
  }
</div>
<app-explorateur-modele [modeleEtDonnees]="modeleEtDonnees"></app-explorateur-modele>
