<app-popover-actions-valeur></app-popover-actions-valeur>

<p-dialog [showHeader]="false" [modal]="true" [(visible)]="visible">
  <div class="barre-superieure-sticky">
    <h2>
      {{
        'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.COTATIONS_VALEURS_PORTEFEUILLE' | translate : {
          nomPortefeuille: portefeuilleAvecCours?.portefeuille?.nom
        }
      }}
    </h2>
    <span class="pi pi-refresh" (click)="rafraichir()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.RAFRAICHIR' | translate }}"></span>
    <span class="pi pi-times-circle" (click)="fermer()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.FERMER' | translate }}"></span>
  </div>

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '30vh', width: '50rem'}
      ]"></app-loader>

  @if (!loading && cotationsTickersDecores) {
    <p-table size="small"
             [value]="cotationsTickersDecores"
             [loading]="loading">
      <ng-template #header>
        <tr>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VALEUR' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.COURS' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.JAUGE_PLUS_HAUT_BAS' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ORDRES' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VAR_OUVERTURE' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VAR_CLOTURE_VEILLE' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-cotationsTickerDecore>
        <tr (click)="onClickCours($event, cotationsTickerDecore)">
          <td>
            <span class="pi"
                  [class]="VueUtil.iconeVariation(cotationsTickerDecore.variationOuverture)"
                  title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ACTIONS' | translate }}"></span>
            {{ cotationsTickerDecore.dto.valeur.libelle }}
          </td>
          <td>{{ cotationsTickerDecore.dto.cours | currency:'€' }}</td>
          <td>
            <app-jauge
              [cleMinimum]="'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.PLUS_BAS'"
              [cleMaximum]="'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.PLUS_HAUT'"
              [pourcentage]="cotationsTickerDecore.pourcentageCours"></app-jauge>
          </td>
          <td>
            <p-chart type="bar" [data]="cotationsTickerDecore.ordresBarChart"
                     [options]="cotationsTickerDecore.optionsBarChart" height="4rem" width="12rem"/>
          </td>
          <td [class]="VueUtil.evolutionVariation(cotationsTickerDecore.variationOuverture)">
            {{ cotationsTickerDecore.variationOuverture  | percent:'1.2-2' }}
          </td>
          <td [class]="VueUtil.evolutionVariation(cotationsTickerDecore.variationClotureVeille)">
            {{ cotationsTickerDecore.variationClotureVeille  | percent:'1.2-2' }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-dialog>
