<app-popover-actions-valeur></app-popover-actions-valeur>

<p-dialog [showHeader]="true" [closable]="false" [modal]="true" [(visible)]="visible">
  <ng-template #header>
    <div class="header-dialog">
      <h2>
        {{
          'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.COTATIONS_VALEURS_PORTEFEUILLE' | translate : {
            nomPortefeuille: portefeuilleAvecCours?.portefeuille?.nom
          }
        }}
      </h2>
      <span class="pi pi-refresh" (click)="rafraichir()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.RAFRAICHIR' | translate }}"></span>
      <span class="pi pi-times-circle" (click)="fermer()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.FERMER' | translate }}"></span>
    </div>
  </ng-template>

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '30vh', width: '50rem'}
      ]"></app-loader>

  @if (!loading && cotationsTickersDecores) {
    <p-table size="small"
             [value]="cotationsTickersDecores"
             [loading]="loading">
      <ng-template #header>
        <tr>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VALEUR' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.DIVIDENDES' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.COURS' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ORDRES' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VAR_OUVERTURE' | translate }}</th>
          <th>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.VAR_CLOTURE_VEILLE' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-cotationsTickerDecore>
        <tr (click)="onClickCours($event, cotationsTickerDecore)">
          <td>
            <span class="pi"
                  [appIconeVariation]="cotationsTickerDecore.variationOuverture"
                  title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ACTIONS' | translate }}"></span>
            {{ cotationsTickerDecore.dto.valeur.libelle }}
          </td>
          <td>
            <app-colonne-dividendes [dividendes]="cotationsTickerDecore.dividendes"></app-colonne-dividendes>
          </td>
          <td>
            <app-jauge
              [donnees]="{
                cours: cotationsTickerDecore.dto.cotations.cours,
                plusBas: cotationsTickerDecore.dto.cotations.plusBas,
                plusHaut: cotationsTickerDecore.dto.cotations.plusHaut
              }"></app-jauge>
          </td>
          <td>
            <p-chart type="bar" [data]="cotationsTickerDecore.ordresDataBarChart"
                     [options]="cotationsTickerDecore.ordresOptionsBarChart" height="4rem" width="12rem"/>
          </td>
          <td [appClassVariation]="cotationsTickerDecore.variationOuverture">
            {{ cotationsTickerDecore.variationOuverture  | percent:'1.2-2' }}
          </td>
          <td [appClassVariation]="cotationsTickerDecore.variationClotureVeille">
            {{ cotationsTickerDecore.variationClotureVeille  | percent:'1.2-2' }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-dialog>
