<p-popover>
  @if (cotationsTickerDecore) {
    <div class="actions-valeur">
      <div class="libelle" (click)="abcBourse()">
        <span class="pi pi-external-link"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ACTIONS_VALEUR.ABCBOURSE' | translate }}</span>
      </div>
      <div class="libelle" (click)="boursorama()">
        <span class="pi pi-external-link"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ACTIONS_VALEUR.BOURSORAMA' | translate }}</span>
      </div>
      <div class="libelle" (click)="coursBoursorama()">
        <span class="pi pi-cloud-download"></span>
        <span>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEURS_PORTEFEUILLE.ACTIONS_VALEUR.COURS_BOURSORAMA' | translate }}</span>
      </div>
    </div>
  }
</p-popover>
