<form *ngIf="portefeuilleEnModification" [formGroup]="formulaireModificationPortefeuille"
      (ngSubmit)="modifierPortefeuille()">
  <div>
    <p-floatlabel>
      <input pInputText id="nom" formControlName="champNom" autocomplete="off"/>
      <label for="nom">{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.NOM' | translate }}</label>
    </p-floatlabel>
  </div>
  <div>
    <p-button label="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.MODIFIER' | translate }} {{this.portefeuilleEnModification.nom}}"
              type="submit" severity="danger"/>
  </div>
  <div>
    <p-button label="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.ANNULER' | translate }}"
              (onClick)="this.annule.emit()" type="reset" severity="warn"/>
  </div>
</form>
