<p-dialog [header]="titre" [modal]="true" [visible]="portefeuilleEnModification !== undefined" closable="false">
  <form *ngIf="portefeuilleEnModification !== undefined" [formGroup]="formulaireModificationPortefeuille"
        (ngSubmit)="modifierNomPortefeuille()">
    <div>
      <p-floatlabel>
        <input pInputText [pAutoFocus]="true" id="nom" formControlName="champNom" autocomplete="off"/>
        <label for="nom">
          {{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.NOM' | translate }}
        </label>
      </p-floatlabel>
    </div>
    <div>
      <p-button
        label="{{ 'COMPOSANTS.COMMUN.ANNULER' | translate }}"
        (onClick)="this.abandon.emit()" type="reset" severity="warn"/>
    </div>
    <div>
      <p-button
        label="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.RENOMMER' | translate }}"
        type="submit" severity="danger"/>
    </div>
  </form>
</p-dialog>
