@if (valeur) {
  <div class="actions">
    <div (click)="ajouterAchat()">
      <span class="pi pi-plus-circle"></span>
      <span>{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.AJOUTER_ACHAT' | translate }}</span>
    </div>
    <span class="message">{{ succes }}</span>
  </div>
  <div class="erreur" *ngIf="erreur !== undefined">
    <span class="pi pi-exclamation-circle"></span>
    <span>{{ erreur }}</span>
  </div>
  <div class="liste" *ngIf="achatsDecores.length > 0">
    <div class="entetes">
      <span></span>
      <span>{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.DATE' | translate }}</span>
      <span>{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.PRIX' | translate }}</span>
      <span>{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.QUANTITE' | translate }}</span>
      <span>{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.REVENDU' | translate }}</span>
    </div>
    @for (achatDecore of achatsDecores; track achatDecore.id) {
      <div class="element">
        <span class="pi pi-trash" (click)="suppressionAchat($event, achatDecore.achat)"></span>
        <span>
          <p-datepicker [(ngModel)]="achatDecore.date" dateFormat="dd/mm/yy"
                        size="small" showIcon iconDisplay="input"
                        [inputStyle]="{'width': '8rem'}"
                        readonlyInput="true"
                        (onSelect)="onSelectDate(achatDecore)"/>
        </span>
        <span>
          <input pInputText [(ngModel)]="achatDecore.achat.prix" autocomplete="off" required type="number"
                 pSize="small" (change)="onChange(achatDecore)"/>
      </span>
        <span>
          <input pInputText [(ngModel)]="achatDecore.achat.quantite" autocomplete="off" required type="number"
                 pSize="small" (change)="onChange(achatDecore)"/>
      </span>
        <span>
          <p-toggleswitch [(ngModel)]="achatDecore.achat.revendu" (change)="onChange(achatDecore)"/>
      </span>
      </div>
    }
  </div>
}
