ul
  margin: 0
  padding: 0
  white-space: nowrap

  li
    font-size: 0.75rem
    list-style-type: none

    .date
      font-weight: bold

    .montant
      display: inline-block
      width: 3rem
      text-align: right
