<div class="boutons">
  <div (click)="ajouterColonne()">
    <span class="pi pi-plus-circle"></span>
    <span>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.AJOUTER_COLONNE' | translate }}</span>
  </div>
</div>
<div cdkDropList class="liste" (cdkDropListDropped)="dropColonne($event)">
  @for (deco of colonnesDecorees; track deco.id) {
    <div cdkDrag class="element">
      <span class="pi pi-trash" (click)="supprimerColonne(deco.colonne)"></span>
      <span>
          <p-floatlabel>
            <input pInputText [(ngModel)]="deco.colonne.nom" autocomplete="off" required
                   [appPasDeNomEnDoublon]="{colonnes, colonne: deco.colonne}"/>
            <label>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.NOM_COLONNE' | translate }}</label>
          </p-floatlabel>
        </span>
      <span>
          <p-floatlabel>
              <p-select [(ngModel)]="deco.colonne.type" [options]="deco.typesDisponibles"
                        (onChange)="onChangeTypecolonne(deco.colonne)"
                        optionLabel="libelle" optionValue="type" required/>
              <label>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.TYPE_COLONNE' | translate }}</label>
          </p-floatlabel>
        </span>
      <span>
          @if (deco.colonne.parametre !== undefined) {
            <p-floatlabel>
              <input pInputText [(ngModel)]="deco.colonne.parametre" autocomplete="off" required appEntierPositif
                     type="number"/>
              <label>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.PARAMETRE_COLONNE' | translate }}</label>
            </p-floatlabel>
          }
        </span>
      <span>
          <p-floatlabel>
            <p-toggleswitch [(ngModel)]="deco.colonne.tri"/>
            <label>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.TRI_COLONNE' | translate }}</label>
          </p-floatlabel>
        </span>
      <span>
          <p-floatlabel>
            <input pInputText [(ngModel)]="deco.colonne.largeur" autocomplete="off" required appEntierPositif
                   type="number"/>
            <label>{{ 'COMPOSANTS.PARAMETRAGE.GESTION_TABLEAUX.TABLEAU.LARGEUR_COLONNE' | translate }}</label>
          </p-floatlabel>
        </span>
    </div>
  }
</div>
