// https://angular.dev/guide/drag-drop#transfer-draggable-elements-between-lists
.liste.cdk-drop-list-dragging .element:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.pi-plus-circle
  color: var(--p-blue-700)
  cursor: pointer

.pi-plus-circle::before
  margin-right: 0.5rem

div.element
  border: 0.1rem solid black
  border-radius: 0.3rem
  padding: 2rem 0 0 0
  margin-top: 0.5rem
  display: flex
  flex-direction: row
  align-items: center
  cursor: move

  .pi-trash
    color: var(--p-red-800)
    cursor: pointer

  span
    margin: 0.5rem

  p-select
    width: 13rem

  span:nth-child(2)
    input
      width: 10rem

  span:nth-child(4)
    width: 5rem

    input
      width: 5rem

  span:nth-child(6)
    input
      width: 6rem

  input
    &.ng-invalid.ng-touched, &.ng-invalid.ng-dirty
      border-color: var(--p-red-800)

    &.ng-valid
      border-color: var(--p-green-800)
