.pi-plus-circle
  color: var(--p-blue-700)
  cursor: pointer

.pi-plus-circle::before
  margin-right: 0.5rem

div.colonne
  border: 0.1rem solid black
  border-radius: 0.3rem
  padding: 2rem 0 0 0
  margin-top: 0.5rem
  display: flex
  flex-direction: row

  span
    margin: 0.5rem
