@if (cours() !== undefined && coursVue) {
  <p-panel>
    <ng-template #header>
      <h1>
<!--        <span class="pi pi-exclamation-triangle" *ngIf="coursVue.alerte"></span>-->
        <span class="pi" [class]="coursVue!.classePictoVariation()"></span>
        {{ coursVue.libelle }} ({{ coursVue.date | date:'dd/MM/yyyy' }})
        <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
      </h1>
    </ng-template>
    <app-charts [cours]="coursVue"></app-charts>
  </p-panel>
}
