<app-editeur-condition-alerte [alerte]="alerteEnModification"
                              (abandon)="alerteEnModification = undefined"
                              (modifie)="modifierConditionAlerte($event)"></app-editeur-condition-alerte>

<p-dialog [header]="titre" [modal]="true" [visible]="portefeuilleEnModification !== undefined" closable="false">
  @if (portefeuilleEnModification !== undefined) {
    @if (erreur !== undefined) {
      <div class="erreur">
        <span class="pi pi-exclamation-circle"></span>
        <span>{{ erreur }}</span>
      </div>
    }

    <div class="conteneur">
      <div class="pi pi-plus-circle" (click)="ajouterAlerte()"
           title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITEUR_ALERTES.AJOUTER' | translate }}"></div>
      @if (alertes.length === 0) {
        <div class="libelle" (click)="ajouterAlerte()">
          <span>{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITEUR_ALERTES.AUCUNE_ALERTE' | translate }}</span>
        </div>
      }

      <div class="formulaire" [formGroup]="formulaire">
        <div formArrayName="noms">
          @for (nom of noms.controls; track $index; let idx = $index) {
            <div>
              <p-floatlabel>
                <input pInputText id="{{idx}}" autocomplete="off" [formControlName]="idx" title="{{this.alertes[idx].condition}}"/>
                <label for="{{idx}}">
                  {{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITEUR_ALERTES.NOM' | translate }}
                </label>
              </p-floatlabel>
              <span class="pi pi-wrench" (click)="editionAlerte(idx)"
                    title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITEUR_ALERTES.EDITER_CONDITION' | translate }}"></span>
              <span class="pi pi-trash" (click)="suppressionAlerte($event, idx)"
                    title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITEUR_ALERTES.SUPPRIMER' | translate }}"></span>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="boutons">
      <p-button
        label="{{ 'COMPOSANTS.COMMUN.ABANDONNER_MODIFICATIONS' | translate }}"
        (onClick)="this.abandon.emit()" type="reset" severity="warn"/>
      <p-button
        label="{{ 'COMPOSANTS.COMMUN.ENREGISTRER_MODIFICATIONS' | translate }}"
        type="button" severity="danger" (click)="modifierAlertesPortefeuille()"/>
    </div>
  }
</p-dialog>
