div.conteneur
  display: flex
  flex-direction: row
  align-items: center

  .pi
    cursor: pointer

  div.pi-plus-circle
    margin-left: 2rem
    color: var(--p-blue-700)

  div.aucune-alerte
    margin-left: 0.5rem

  div.formulaire
    margin-left: 0.5rem
    border-left: 1px solid black

    & > div > div
      display: flex
      flex-direction: row
      align-items: center
      margin: 2rem 0 0 1rem

      span.pi
        margin: 0 0 0 1rem

      span.pi-wrench
        color: var(--p-blue-700)

      span.pi-trash
        color: var(--p-red-800)

      input
        &.ng-invalid.ng-touched, &.ng-invalid.ng-dirty
          border-color: var(--p-red-800)

        &.ng-valid
          border-color: var(--p-green-800)

div.boutons
  text-align: center
  margin-top: 1rem

  p-button
    margin-left: 0.5rem

