span.pi-book
  cursor: pointer
  color: var(--p-blue-700)

.positive
  color: var(--p-green-600)

.negative
  color: var(--p-red-600)

div.ligne
  display: flex
  flex-direction: row

  & > div.colonne:nth-child(2)
    width: 36rem

  & > div.colonne
    display: flex
    flex-direction: column
    margin: 1rem

    p-fieldset:nth-child(n+2)
      margin-top: 1rem

