@if (valeur() !== undefined) {
  <p-panel *ngIf="loading">
    <p-progressbar mode="indeterminate" [style]="{'height': '10px'}"/>
  </p-panel>
  <p-panel *ngIf="!loading">
    <ng-template #header>
      <span class="pi pi-exclamation-triangle" *ngIf="cours!.alerte"></span>
      <h1>
        <span class="pi" [ngClass]="{
                      'pi-arrow-up': (cours!.ouverture < cours!.cloture),
                      'pi-arrow-down': (cours!.ouverture > cours!.cloture),
                      'pi-equals': (cours!.ouverture === cours!.cloture)
                    }"></span>
        {{ cours!.libelle }} ({{ cours!.date | date:'dd/MM/yyyy' }})
      </h1>
      <span class="pi pi-times-circle" (click)="this.closed.emit()"></span>
    </ng-template>
    <app-charts [cours]="cours" [coursLight]="coursLight"></app-charts>
    <app-details-valeur [cours]="cours"></app-details-valeur>
  </p-panel>
}
