@if (valeur() !== undefined) {
  <p-panel *ngIf="loading">
    <p-progressbar mode="indeterminate" [style]="{'height': '10px'}"/>
  </p-panel>
  <p-panel *ngIf="!loading">
    <ng-template #header>
      <h3>{{ cours!.libelle }} <span class="pi pi-exclamation-triangle" *ngIf="cours!.alerte"></span></h3>
      <span class="pi pi-times-circle" (click)="this.closed.emit()"></span>
    </ng-template>
    <app-details-valeur [cours]="cours"></app-details-valeur>
    <app-moyennes-mobiles [cours]="cours"></app-moyennes-mobiles>
  </p-panel>
}
