h1
  width: calc(100% - 2rem)
  text-align: center

.pi-times-circle
  cursor: pointer
  font-size: 2rem
  margin: 0 1rem 0 1rem
  float: right

.pi-arrow-up, .pi-arrow-down, .pi-equals
  font-size: 2rem

.pi-arrow-up
  color: var(--p-green-600)

.pi-arrow-down
  color: var(--p-red-600)

div.content
  margin: auto
  width: 70vw
