<p-drawer [visible]="valeur() !== undefined" position="full">
  <ng-template #headless>
    <h1>
      <div *ngIf="loading">
        <p-progressbar mode="indeterminate" [style]="{'height': '10px'}"/>
      </div>
      <div *ngIf="!loading">
        <span class="pi pi-exclamation-triangle" *ngIf="cours!.alerte"></span>
        <span class="pi" [ngClass]="{
                      'pi-arrow-up': (cours!.ouverture < cours!.cloture),
                      'pi-arrow-down': (cours!.ouverture > cours!.cloture),
                      'pi-equals': (cours!.ouverture === cours!.cloture)
                    }"></span>
        {{ cours!.libelle }} ({{ cours!.date | date:'dd/MM/yyyy' }})
        <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
      </div>
    </h1>
    <div *ngIf="!loading" class="content">
      <app-charts [cours]="cours" [coursLight]="coursLight"></app-charts>
      <app-details-valeur [cours]="cours"></app-details-valeur>
    </div>
  </ng-template>
</p-drawer>
