@if (modele) {
  <div class="conteneur">
    <div class="parametres">
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.OPTIMISEUR' | translate }}</label>
        <span>{{ modele.optimiseur.nom }}</span>
      </div>
      @for (parametre of modele.optimiseur.parametres; track parametre.nom) {
        <div class="details">
          <label>{{ parametre.nom }}</label>
          <span>{{ parametre.valeur }}</span>
        </div>
      }
    </div>
    <div class="parametres">
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.FONCTIONS_PERTE' | translate }}</label>
        <span>{{ modele.fonctionsPerte }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.PARAMETRAGE.ML.MODELE.METRIQUES' | translate }}</label>
        <span>{{ modele.metriques }}</span>
      </div>
    </div>
    <app-explorateur-entrees-sorties [modeleEtDonnees]="modeleEtDonnees"></app-explorateur-entrees-sorties>
  </div>
  <div class="couches">
    @for (couche of modele.couches; track couche.numero) {
      <div>
        @switch (couche.type) {
          @case (TypeCouche.DENSE) {
            <app-couche-dense [couche]="couche"></app-couche-dense>
          }
        }
      </div>
    }
  </div>
}
