@if (conseilsGeminiTicker) {
  <div class="ligne">
    <div class="colonne">
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.NOM' | translate }}</label>
        <span>{{ conseilsGeminiTicker.nom }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.MARCHE' | translate }}</label>
        <span>{{ conseilsGeminiTicker.marche }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.ACHETER' | translate }}</label>
        <span>{{ `COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.${conseilsGeminiTicker.acheter}` | translate }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.VENDRE' | translate }}</label>
        <span>{{ `COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.${conseilsGeminiTicker.vendre}` | translate }}</span>
      </div>
    </div>
    <div class="colonne">
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.PRIX_1_JOUR' | translate }}</label>
        <span>{{ conseilsGeminiTicker.prixEuros1jour | currency:'€' }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.PRIX_1_SEMAINE' | translate }}</label>
        <span>{{ conseilsGeminiTicker.prixEuros1semaine | currency:'€' }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.PRIX_1_MOIS' | translate }}</label>
        <span>{{ conseilsGeminiTicker.prixEuros1mois | currency:'€' }}</span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.COURS.CONSEILS_GEMINI_VALEUR.RESULTAT.PRIX_1_AN' | translate }}</label>
        <span>{{ conseilsGeminiTicker.prixEuros1an | currency:'€' }}</span>
      </div>
    </div>
  </div>

  <div class="analyses">{{ conseilsGeminiTicker.analyses }}</div>
}
