app-details-valeur
  max-height: calc(100vh - 8rem)
  overflow-y: auto

div.conteneur
  & > p-accordion
    p-table
      tr
        th:first-child
          width: 60%

        th:last-child
          width: 40%
