div.conteneur
  p-accordion
    p-table
      tr
        td
          cursor: pointer

  &:not(.avec-details)
    p-accordion
      p-table
        tr
          th:first-child
            width: 60%

          th:last-child
            width: 40%
