<h1>{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.DONNEES_COURS_VAGUES' | translate }} </h1>

<app-loader [affiche]="loading" [configuration]="[
  {marginLeft: '0', marginTop: '1rem', height: 'calc(100vh - 15em)', width: '100%'}
]"></app-loader>

@if (!loading && coursDecoresAffiches) {
  <div class="conteneur">
    <div class="liste-valeurs">
      <p-floatlabel>
        <p-inputNumber id="filtreNbVagues" [min]="1" size="small"
                       (onInput)="filtrerNbVagues($event)"></p-inputNumber>
        <label
          for="filtreNbVagues">{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.FILTRE_NOMBRE_VAGUES_MINIMUM' | translate }}</label>
      </p-floatlabel>
      <p-listbox id="valeurs"
                 [options]="coursDecoresAffiches"
                 [(ngModel)]="coursDecoreSelectionne"
                 [filter]="false"
                 [listStyle]="{'max-height': 'calc(100vh - 25rem)'}"
                 (onChange)="rafraichirVue()">
        <ng-template #item let-cours>
            <div [ngClass]="{'complete': cours.nbVagues !== undefined && cours.nbVagues !== null}">{{ cours.valeur.libelle }}</div>
        </ng-template>
      </p-listbox>
      <div class="actions">
        <p-button
          [icon]="'pi pi-download'"
          label="{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.EXPORTER_DONNEES' | translate }}"
          (onClick)="exporterDonnees()"/>
        <p-button
          [icon]="'pi pi-upload'"
          label="{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.IMPORTER_DONNEES' | translate }}"
          (onClick)="fileInput.click()"/>
        <input #fileInput type="file" (change)="importerDonnees($event)" style="display:none" accept=".json">
      </div>
    </div>

    <div class="valeur">
      @if (coursDecoreSelectionne) {
        <div class="vagues">
          <h3> {{ coursDecoreSelectionne.valeur.libelle }} ({{ coursDecoreSelectionne.valeur.ticker }}) </h3>
          <p-floatlabel>
            <p-inputNumber id="nbVagues" [(ngModel)]="coursDecoreSelectionne.nbVagues" [min]="0"
                           required size="small"></p-inputNumber>
            <label
              for="nbVagues">{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.NOMBRE_VAGUES' | translate }}</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputNumber id="nbJours" [(ngModel)]="nbJoursMMG" [min]="1"
                           required size="small" [inputSize]="5" (onInput)="rafraichirVue()"></p-inputNumber>
            <label
              for="nbJours">{{ 'COMPOSANTS.PARAMETRAGE.ML.ETUDES.GENERATEUR_DONNEES_ENTRAINEMENT.NB_JOURS_MOYENNE_MOBILE_GLISSANTE' | translate }}</label>
          </p-floatlabel>
        </div>
        <div class="cours">
          @if (data) {
            <p-chart type="line" [data]="data" [options]="options"/>
          }
        </div>
      }
    </div>
  </div>
}
