<span class="pi pi-sync" (click)="visible = true"
      title="{{ 'COMPOSANTS.ACHATS_VALEURS.IMPORT_EXPORT.IMPORT_EXPORT' | translate }}"></span>

<p-dialog [header]="'COMPOSANTS.ACHATS_VALEURS.IMPORT_EXPORT.IMPORT_EXPORT' | translate"
          [modal]="true" (onShow)="reinitialiserVue()" [(visible)]="visible">

  <div class="conteneur">
    <p-floatlabel>
      <textarea id="json" rows="15" cols="80"
                pTextarea [(ngModel)]="achats"
                [ngClass]="{'error': erreur !== undefined}"></textarea>
      <label for="json">
        {{ 'COMPOSANTS.ACHATS_VALEURS.IMPORT_EXPORT.CONFIGURATION' | translate }}
      </label>
    </p-floatlabel>

    @if (erreur !== undefined) {
      <div class="erreur">
        <span class="pi pi-exclamation-circle"></span>
        <span>{{ erreur }}</span>
      </div>
    }

    <div class="boutons">
      <p-button type="button" (click)="exporter()" severity="warn" [icon]="'pi pi-download'"
                label="{{ 'COMPOSANTS.ACHATS_VALEURS.IMPORT_EXPORT.EXPORTER' | translate }}"/>
      <p-button type="button" (click)="importer()" severity="danger" [icon]="'pi pi-upload'"
                label="{{ 'COMPOSANTS.ACHATS_VALEURS.IMPORT_EXPORT.IMPORTER' | translate }}"/>
    </div>
  </div>
</p-dialog>
