.titre
  width: 100%
  display: flex
  flex-direction: row
  align-items: center

  h2, h3
    margin: 0

  h2.centre-avec-une-icone
    width: calc(100% - 3rem)
    text-align: center

    span
      vertical-align: text-bottom
      margin-right: 0.5rem

  & > .pi
    cursor: pointer

  & > span
    margin-left: 1.5rem
