<app-dialog-cours-achats></app-dialog-cours-achats>

<div class="titre">
  <h2>{{ 'COMPOSANTS.ACHATS_VALEURS.ACHATS_VALEURS' | translate }}</h2>
  <app-dialog-import-export></app-dialog-import-export>
  @if (achatsNonRevendus && achatsNonRevendus.length > 0) {
    <span class="pi pi-download" (click)="recupererCours()"
          title="{{ 'COMPOSANTS.ACHATS_VALEURS.RECUPERER_COURS' | translate }}"></span>
  }
</div>

<app-loader [affiche]="loading" [configuration]="[
  {marginLeft: '0', marginTop: '1rem', height: '20vh', width: '100%'}
]"></app-loader>


@if (achatsNonRevendus && achatsNonRevendus.length > 0) {
  <h3>{{ 'COMPOSANTS.ACHATS_VALEURS.TABLEAU_ACHATS' | translate }}</h3>
  <app-tableau-achats [achats]="achatsNonRevendus"
                                   (suppression)="suppressionAchat($event)"></app-tableau-achats>
}

@if (achatsRevendus && achatsRevendus.length > 0) {
  <h3>{{ 'COMPOSANTS.ACHATS_VALEURS.TABLEAU_VENTES' | translate }}</h3>
  <app-tableau-ventes [achats]="achatsRevendus"
                               (suppression)="suppressionAchat($event)"></app-tableau-ventes>
}
