<app-dialog-cours-achats-non-revendus></app-dialog-cours-achats-non-revendus>

<div class="titre">
  <h2>{{ 'COMPOSANTS.ACHATS_VALEURS.ACHATS_VALEURS' | translate }}</h2>
  <app-dialog-import-export></app-dialog-import-export>
  @if (achatsNonRevendus && achatsNonRevendus.length > 0) {
    <span class="pi pi-cloud-download" (click)="recupererCours()"
          title="{{ 'COMPOSANTS.ACHATS_VALEURS.RECUPERER_COURS' | translate }}"></span>
  }
</div>

<app-loader [affiche]="loading" [configuration]="[
  {marginLeft: '0', marginTop: '1rem', height: '20vh', width: '100%'}
]"></app-loader>


@if (achatsNonRevendus) {
  <h3>{{ 'COMPOSANTS.ACHATS_VALEURS.NON_REVENDUES' | translate }}</h3>
  @if (achatsNonRevendus.length === 0) {
    <div>-</div>
  } @else {
    <app-tableau-achats-non-revendus [achats]="achatsNonRevendus"
                                     (suppression)="suppressionAchat($event)"></app-tableau-achats-non-revendus>
  }
}

@if (achatsRevendus) {
  <h3>{{ 'COMPOSANTS.ACHATS_VALEURS.REVENDUES' | translate }}</h3>
  @if (achatsRevendus.length === 0) {
    <div>-</div>
  } @else {
    <!--    <app-tableau-achats-non-revendus [achats]="achatsRevendus" (suppression)="suppressionAchat($event)"></app-tableau-achats-non-revendus>-->
  }
}
