<app-formulaire-url-sauvegarde-restauration [visible]="afficherFormulaireUrlSauvegardeRestauration"
                                            (modifie)="afficherFormulaireUrlSauvegardeRestauration=false"
                                            (abandon)="afficherFormulaireUrlSauvegardeRestauration=false"></app-formulaire-url-sauvegarde-restauration>

<app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '4rem', width: '15rem'}
      ]"></app-loader>

@if (!afficherFormulaireUrlSauvegardeRestauration && !loading) {
  <div class="boutons">
    <span class="pi pi-pencil" (click)="afficherFormulaireUrlSauvegardeRestauration=true"
          title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.EDITER_URL' | translate }}"></span>
    <span class="pi pi-cloud-upload" (click)="sauvegarde($event)"
          title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.SAUVEGARDE' | translate }}"></span>
    <span class="pi pi-cloud-download" (click)="restauration($event)"
          title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.RESTAURATION' | translate }}"></span>
  </div>
  <div class="succes">{{ succes }}</div>
  <div class="erreur">{{ erreur }}</div>
}
