div.boutons
  display: flex
  flex-direction: row

  span.pi
    margin-left: 1rem
    cursor: pointer
    color: var(--p-blue-700)

.erreur, .succes
  margin: 1rem
  font-weight: bold

.succes
  color: var(--p-green-800)

.erreur
  color: var(--p-red-800)
