<app-formulaire-url-sauvegarde-restauration [visible]="!reduit && afficherFormulaireUrlSauvegardeRestauration"
                                            (modifie)="afficherFormulaireUrlSauvegardeRestauration=false"
                                            (abandon)="afficherFormulaireUrlSauvegardeRestauration=false"></app-formulaire-url-sauvegarde-restauration>

<app-dialog-sauvegarde [(visible)]="dialogSauvegardeVisible" (sauvegarde)="sauvegarder()"></app-dialog-sauvegarde>

<app-dialog-restauration [(visible)]="dialogRestaurationVisible"
                         (restauration)="restaurer($event)"></app-dialog-restauration>

<app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '1rem', marginTop: '0', height: '1.5rem', width: '15rem'}
      ]"></app-loader>

@if (!afficherFormulaireUrlSauvegardeRestauration && !loading) {
  @if (reduit) {
    <span class="pi pi-cloud-upload" (click)="dialogSauvegardeVisible = true"
          title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.SAUVEGARDE' | translate }}"></span>
    <span class="pi pi-cloud-download" (click)="dialogRestaurationVisible = true"
          title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.RESTAURATION' | translate }}"></span>
    @if (succes) {
      <span class="succes">{{ succes }}</span>
    }
    @if (httpErrorResponse) {
      <pre class="erreur">{{ httpErrorResponse | json }}</pre>
    }
  } @else {
    <div class="boutons">
      <div (click)="afficherFormulaireUrlSauvegardeRestauration=true">
        <span class="pi pi-pencil"
              title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.EDITER_URL' | translate }}"></span>
        <span>{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.EDITER_URL' | translate }}</span>
      </div>
      <div (click)="dialogSauvegardeVisible = true">
        <span class="pi pi-cloud-upload"
              title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.SAUVEGARDE' | translate }}"></span>
        <span>{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.SAUVEGARDE' | translate }}</span>
      </div>
      <div (click)="dialogRestaurationVisible = true">
        <span class="pi pi-cloud-download"
              title="{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.RESTAURATION' | translate }}"></span>
        <span>{{ 'COMPOSANTS.PARAMETRAGE.SAUVEGARDE_RESTAURATION.RESTAURATION' | translate }}</span>
      </div>
    </div>
    <div class="message">
      @if (succes) {
        <span class="succes">{{ succes }}</span>
      }
      @if (httpErrorResponse) {
        <pre class="erreur">{{ httpErrorResponse | json }}</pre>
      }
    </div>
  }
}
