@if (cours && coursPortefeuille) {
  <p-panel>
    <ng-template #header>
      <h2>
        <span class="pi" [class]="cours!.classeIconeVariation()"></span>
        {{
          'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.TITRE' | translate: {
            valeur: cours.libelle,
            ticker: cours.ticker,
            marche: `ENUMERATIONS.MARCHE.${coursPortefeuille.marche}` | translate,
            date: cours.date | date:'dd/MM/yyyy'
          }
        }}
        <app-alertes [alertes]="alertes"></app-alertes>
      </h2>
      <span class="pi pi-external-link" (click)="abcBourse()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.ABCBOURSE' | translate}}"></span>
      <span class="pi pi-external-link" (click)="boursorama()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.BOURSORAMA' | translate}}"></span>
      <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
    </ng-template>
    <app-charts [cours]="cours"></app-charts>
  </p-panel>
}
