@if (cours && coursPortefeuille) {
  <p-panel>
    <ng-template #header>
      <h2>
        <span class="pi" [class]="cours!.iconeVariation()"></span>
        {{
          'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.DETAILS_VALEUR'
            | translate: {
            valeur: cours.libelle,
            ticker: cours.ticker,
            marche: `ENUMERATIONS.MARCHE.${coursPortefeuille.marche}` | translate
          }
        }}
        <app-alertes [alertes]="alertes"></app-alertes>
      </h2>
      <span class="pi" [ngClass]="{'pi-chart-line': informationsDetaillees, 'pi-info-circle': !informationsDetaillees}"
            (click)="informationsDetaillees = !informationsDetaillees"
            title="{{
          (informationsDetaillees ? 'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.COURBES' : 'COMPOSANTS.PORTEFEUILLES.DETAILS_VALEUR.INFORMATIONS_DETAILLEES')
            | translate : {
            valeur: cours.libelle,
            ticker: cours.ticker,
            marche: `ENUMERATIONS.MARCHE.${coursPortefeuille.marche}` | translate
          }
        }}"></span>
      <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
    </ng-template>
    @if (informationsDetaillees) {
      <app-informations-ticker [cours]="cours"></app-informations-ticker>
    } @else {
      <app-charts [cours]="cours"></app-charts>
    }
  </p-panel>
}
