.pi-cog
  cursor: pointer
  margin-left: 1rem
  color: var(--p-blue-600)

span.pi-filter:before
  margin-right: 0.5rem

span.pi-filter
  cursor: pointer
  margin-left: 1rem
  padding: 0.25rem
  border-radius: 0.3rem
  background-color: var(--p-gray-300)
  font-weight: normal
