p-dialog
  div.documentation
    display: flex
    flex-direction: row
    align-items: center
    margin: 0.5rem

    span.pi-question-circle
      color: var(--p-gray-700)

    p-card
      margin-left: 0.5rem

  div.erreur
    display: flex
    flex-direction: row
    align-items: center
    margin: 0.5rem

    span.pi-exclamation-circle
      color: red

    span:last-child
      color: red
      margin-left: 1rem

form
  display: flex
  flex-direction: column
  margin-top: 2rem
  align-items: end

  div.boutons
    margin: 0.5rem 0 0 0

    p-button
      margin: 0 0 0 0.5rem
