p-dialog
  div.documentation
    display: flex
    flex-direction: row
    align-items: center

    span.pi-question-circle
      color: var(--p-gray-700)
      font-size: 3rem

  div.erreur
    display: flex
    flex-direction: row
    align-items: center

    span.pi-exclamation-circle
      color: red
      font-size: 3rem

    span:last-child
      color: red
      margin-left: 1rem

form
  display: flex
  flex-direction: row
  margin-top: 2rem

  p-floatlabel, p-button
    margin-left: 0.5rem

