<span class="pi pi-sync" (click)="visible = true"
      title="{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.IMPORT_EXPORT.IMPORT_EXPORT' | translate }}"></span>

<p-dialog header="{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.IMPORT_EXPORT.IMPORT_EXPORT' | translate }}"
          [modal]="true" (onShow)="reinitialiserVue()" [(visible)]="visible">

  <div class="conteneur">
    <p-floatlabel>
      <textarea id="json" rows="10" cols="80"
                pTextarea [(ngModel)]="achats"
                [ngClass]="{'error': erreur !== undefined}"></textarea>
      <label for="json">
        {{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.IMPORT_EXPORT.CONFIGURATION' | translate }}
      </label>
    </p-floatlabel>

    <div class="erreur" *ngIf="erreur !== undefined">
      <span class="pi pi-exclamation-circle">{{ erreur }}</span>
    </div>

    <div class="boutons">
      <p-button type="button" (click)="exporter()"
                label="{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.IMPORT_EXPORT.EXPORTER' | translate }}"/>
      <p-button type="button" (click)="importer()" severity="warn"
                label="{{ 'COMPOSANTS.VALEURS.DETAILS_VALEUR.ACHATS_VALEUR.IMPORT_EXPORT.IMPORTER' | translate }}"/>
    </div>
  </div>
</p-dialog>
