<p-dialog [showHeader]="false" [modal]="true" [(visible)]="visible">
  <div class="barre-superieure">
    <h2>
      {{
        'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_TICKERS_TICKER.COTATIONS_TICKERS_PORTEFEUILLE' | translate : {
          nom: portefeuilleAvecCours?.portefeuille?.nom
        }
      }}
    </h2>
    <span class="pi pi-refresh" (click)="rafraichir()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_TICKERS_TICKER.RAFRAICHIR' | translate }}"></span>
    <span class="pi pi-times-circle" (click)="fermer()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_TICKERS_TICKER.FERMER' | translate }}"></span>
  </div>

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '60vh', width: '50rem'}
      ]"></app-loader>

  @if (!loading && coursTickersDecores) {
  }
</p-dialog>
