@if (valeur) {
  <div class="actions">
    <div (click)="ajouterAchat()">
      <span class="pi pi-plus-circle"></span>
      <span>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.AJOUTER_ACHAT' | translate }}</span>
    </div>
    <span class="message">{{ succes }}</span>
  </div>
  @if (erreur !== undefined) {
    <div class="erreur">
      <span class="pi pi-exclamation-circle"></span>
      <span>{{ erreur }}</span>
    </div>
  }
  @if (achatsDecores.length > 0) {
    <table>
      <thead>
      <th></th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.DATE' | translate }}</th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.PRIX' | translate }}</th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.QUANTITE' | translate }}</th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.REVENDU' | translate }}</th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.DATE_REVENTE' | translate }}</th>
      <th>{{ 'COMPOSANTS.VALEURS.ACHATS_VALEUR.PRIX_REVENTE' | translate }}</th>
      </thead>
      <tbody>
        @for (achatDecore of achatsDecores; track achatDecore.id) {
          <tr>
            <td class="pi pi-trash" (click)="suppressionAchat($event, achatDecore.achat)"></td>
            <td>
              <p-datepicker [(ngModel)]="achatDecore.form.date" dateFormat="dd/mm/yy"
                            size="small" showIcon iconDisplay="input"
                            [inputStyle]="{'width': '8rem'}"
                            readonlyInput="true"
                            (onSelect)="onSelectDate(achatDecore)"
                            [autofocus]="false"/>
            </td>
            <td>
              <input pInputText [(ngModel)]="achatDecore.achat.prix" autocomplete="off" required type="number"
                     pSize="small" (change)="onChange(achatDecore)"/>
            </td>
            <td>
              <input pInputText [(ngModel)]="achatDecore.achat.quantite" autocomplete="off" required type="number"
                     pSize="small" (change)="onChange(achatDecore)"/>
            </td>
            <td>
              <p-toggleswitch [(ngModel)]="achatDecore.form.revendu" (change)="onChangeRevendu(achatDecore)"/>
            </td>
            <td>
              @if (achatDecore.form.revendu) {
                <p-datepicker [(ngModel)]="achatDecore.form.dateRevente" dateFormat="dd/mm/yy"
                              size="small" showIcon iconDisplay="input" required
                              [inputStyle]="{'width': '8rem'}"
                              readonlyInput="true"
                              (onSelect)="onSelectDateRevente(achatDecore)"
                              [autofocus]="false"/>
              } @else {
                -
              }
            </td>
            <td>
              @if (achatDecore.form.revendu) {
                <input pInputText [(ngModel)]="achatDecore.achat.prixRevente" autocomplete="off" required type="number"
                       pSize="small" (change)="onChange(achatDecore)"/>
              } @else {
                -
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
}
