@if (cotationsTickerDecore) {
  <p-fieldset
    legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS.COTATIONS' | translate }}">
    <div class="cotations">
      <app-jauge
        [donnees]="{
          cours: cotationsTickerDecore.dto.cotations.cours,
          plusBas: cotationsTickerDecore.dto.cotations.plusBas,
          plusHaut: cotationsTickerDecore.dto.cotations.plusHaut
        }"></app-jauge>
      <div>
        <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS.VAR_OUVERTURE' | translate }}</label>
        <span [appClassVariation]="cotationsTickerDecore.variationOuverture">
          {{ cotationsTickerDecore.variationOuverture  | percent:'1.2-2' }}
        </span>
      </div>
      <div>
        <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS.VAR_CLOTURE_VEILLE' | translate }}</label>
        <span [appClassVariation]="cotationsTickerDecore.variationClotureVeille">
          {{ cotationsTickerDecore.variationClotureVeille  | percent:'1.2-2' }}
        </span>
      </div>
    </div>
  </p-fieldset>
}
