div
  & > div
    margin: 0.5rem
    display: block

    & > span
      display: inline-block

    & > span:nth-child(1)
      font-weight: bold
      width: 5rem
      vertical-align: top

    & > span:nth-child(2)
      cursor: pointer
      color: var(--p-blue-700)
