@if (achatValeurDecores) {
  <p-table [value]="achatValeurDecores">
    <ng-template #header>
      <tr>
        <th></th>
        <th pSortableColumn="valeur.libelle">
          {{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.VALEUR' | translate }}
          <p-sortIcon field="valeur.libelle"/>
        </th>
        <th pSortableColumn="achatDecore.achat.date">
          {{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.DATE_ACHAT' | translate }}
          <p-sortIcon field="achatDecore.achat.date"/>
        </th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.DIVIDENDES' | translate }}</th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.PRIX_ACHAT' | translate }}</th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.QUANTITE_ACHAT' | translate }}</th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.TOTAL_ACHAT' | translate }}</th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.PRIX_VENTE' | translate }}</th>
        <th pSortableColumn="achatDecore.variationAchat">
          {{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.VARIATION_ACHAT' | translate }}
          <p-sortIcon field="achatDecore.variationAchat"/>
        </th>
        <th>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.TOTAL_VENTE' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template #body let-achatValeurDecore>
      <tr>
        <td>
              <span class="pi pi-trash"
                    title="{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.SUPPRESSION' | translate }}"
                    (click)="suppressionAchat($event, achatValeurDecore)"></span>
        </td>
        <td>{{ achatValeurDecore.valeur.libelle }}</td>
        <td>{{ achatValeurDecore.achatDecore.achat.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <app-colonne-dividendes [dividendes]="achatValeurDecore.dividendes"></app-colonne-dividendes>
        </td>
        <td>{{ achatValeurDecore.achatDecore.achat.prix  | currency:'EUR':'symbol' }}</td>
        <td>{{ achatValeurDecore.achatDecore.achat.quantite  | number }}</td>
        <td>{{ (achatValeurDecore.achatDecore.achat.prix * achatValeurDecore.achatDecore.achat.quantite)  | currency:'EUR':'symbol' }}</td>
        <td [appClassVariation]="achatValeurDecore.achatDecore.variationAchat">
          {{ achatValeurDecore.achatDecore.achat.prixRevente | currency:'EUR':'symbol' }}
        </td>
        <td [appClassVariation]="achatValeurDecore.achatDecore.variationAchat">
          {{ achatValeurDecore.achatDecore.variationAchat | percent:'1.2-2' }}
        </td>
        <td [appClassVariation]="achatValeurDecore.achatDecore.variationAchat">
          {{ (achatValeurDecore.achatDecore.achat.prixRevente! * achatValeurDecore.achatDecore.achat.quantite)  | currency:'EUR':'symbol' }}
        </td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr class="totaux">
        <td>{{ 'COMPOSANTS.ACHATS_VALEURS.VENTES.TOTAUX' | translate }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ totalQuantite  | number }}</td>
        <td>{{ totauxAchats  | currency:'EUR':'symbol' }}</td>
        <td></td>
        <td [appClassVariation]="variationAchats">
          {{ variationAchats | percent:'1.2-2' }}
        </td>
        <td [appClassVariation]="variationAchats">
          {{ totauxVentes  | currency:'EUR':'symbol' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
}
