div.titre
  display: flex
  flex-direction: row
  align-items: center

  & > span:nth-child(1)
    font-size: 1.25rem

  app-actualites, app-dialog-import-export, app-selecteur-filtre
    margin-left: 1.5rem

div.conteneur
  margin-top: 1rem

  p-table
    tr
      th:nth-child(n+2), td:nth-child(n+2)
        text-align: right

  &.avec-details
    p-accordion
      p-table
        tr
          th:nth-child(1)
            width: 60%

          th:nth-child(2)
            width: 40%

  &:not(.avec-details)
    p-accordion
      p-table
        tr
          th:nth-child(1)
            width: 20%

          th:nth-child(2)
            width: 16%

          th:nth-child(3)
            width: 16%

          th:nth-child(4)
            width: 16%

          th:nth-child(5)
            width: 16%

          th:nth-child(6)
            width: 16%


// orientation verticale
@media screen and (orientation: portrait)
  p-accordion
    p-table
      tr
        th:nth-child(1)
          width: 50%

        th:nth-child(2), th:nth-child(3)
          width: 25%

        th:nth-child(n+4), td:nth-child(n+4)
          display: none
          width: 0
