div.conteneur
  p-table
    tr
      td:nth-child(1)
        span
          cursor: pointer

      th:nth-child(n+2)
        text-align: right

      td:nth-child(n+2)
        text-align: right

  &:not(.avec-details)
    p-accordion
      p-table
        td
          &.positive
            color: var(--p-green-600)

          &.negative
            color: var(--p-red-600)

        tr
          th:nth-child(1)
            width: 20%

          th:nth-child(2)
            width: 16%

          th:nth-child(3)
            width: 16%

          th:nth-child(4)
            width: 16%

          th:nth-child(5)
            width: 16%

          th:nth-child(6)
            width: 16%


// orientation verticale
@media screen and (orientation: portrait)
  p-accordion
    p-table
      tr
        th:nth-child(1)
          width: 50%

        th:nth-child(2), th:nth-child(3)
          width: 25%

        th:nth-child(n+4), td:nth-child(n+4)
          display: none
