<app-dialog-actualite-valeur></app-dialog-actualite-valeur>

<p-dialog [showHeader]="false" [modal]="true" [(visible)]="visible">
  <div class="barre-superieure-sticky">
    <h2>
      {{
        'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS_VALEUR' | translate : {
          valeur: valeur?.libelle,
          ticker: valeur?.ticker
        }
      }}
    </h2>
    <span class="pi pi-refresh" (click)="rafraichir()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.RAFRAICHIR' | translate }}"></span>
    <span class="pi pi-times-circle" (click)="fermer()"
          title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.FERMER' | translate }}"></span>
  </div>

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '60vh', width: '50rem'}
      ]"></app-loader>

  @if (!loading) {
    @if (cotationsTickerDecore) {
      <div class="ligne">
        <div class="colonne">
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS' | translate }}">
            <div class="cotations">
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COURS' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.cours | currency:'€' }}</span>
              </div>
              <app-jauge
                [cleMinimum]="'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.PLUS_BAS'"
                [cleMaximum]="'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.PLUS_HAUT'"
                [pourcentage]="cotationsTickerDecore.pourcentageCours"></app-jauge>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.VAR_OUVERTURE' | translate }}</label>
                <span
                  [class]="VueUtil.evolutionVariation(cotationsTickerDecore.variationOuverture)">{{ cotationsTickerDecore.variationOuverture  | percent:'1.2-2' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.VAR_CLOTURE_VEILLE' | translate }}</label>
                <span
                  [class]="VueUtil.evolutionVariation(cotationsTickerDecore.variationClotureVeille)">{{ cotationsTickerDecore.variationClotureVeille  | percent:'1.2-2' }}</span>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.ORDRES' | translate }}">
            <p-chart type="doughnut" [data]="cotationsTickerDecore.ordresDoughnut" height="14rem" width="20rem"/>
          </p-fieldset>
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.INDICATEURS' | translate }}">
            <div class="indicateurs">
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.VOLUME' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.volume | number }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.CAPITAL_ECHANGE' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.pourcentageCapitalEchange  | percent:'1.2-2' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.VALORISATION' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.valorisation }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.LIMITE_BAISSE' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.limiteBaisse | currency:'€' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.LIMITE_HAUSSE' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.limiteHausse | currency:'€' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.RENDEMENT_ESTIME' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.pourcentageRendementEstime  | percent:'1.2-2' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.PER_ESTIME' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.perEstime | number }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.DERNIER_DIVIDENDE' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.dernierDividende | currency:'€' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.DATE_DERNIER_DIVIDENDE' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.dateDernierDividende | date: 'dd/MM/yyyy' }}</span>
              </div>
              <div>
                <label>{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.RISQUE_ESG' | translate }}</label>
                <span>{{ cotationsTickerDecore.dto.cotations.risqueESG }}</span>
              </div>
            </div>
          </p-fieldset>
        </div>
        <div class="colonne">
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.ACTUALITES' | translate }}">
            <div class="actualites">
              @for (actualite of cotationsTickerDecore.dto.actualites; track actualite.id) {
                <div>
                  <span>{{ actualite.date }}</span>
                  <span (click)="afficherInformation(actualite)">{{ actualite.titre }}</span>
                </div>
              }
            </div>
          </p-fieldset>
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.ANALYSES' | translate }}">
            <div class="analyses">
              @for (analyse of cotationsTickerDecore.dto.analyses; track analyse.id) {
                <div>
                  <span>{{ analyse.date }}</span>
                  <span (click)="afficherInformation(analyse)">{{ analyse.titre }}</span>
                </div>
              }
            </div>
          </p-fieldset>
        </div>
      </div>
    }
  }
</p-dialog>
