<app-dialog-charger-lien></app-dialog-charger-lien>

<p-dialog [showHeader]="true" [closable]="false" [modal]="true" [(visible)]="visible">
  <ng-template #header>
    <div class="header-dialog">
      <h2>
        {{
          'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COTATIONS_VALEUR' | translate : {
            valeur: valeur?.libelle,
            ticker: valeur?.ticker
          }
        }}
      </h2>
      <span class="pi pi-refresh" (click)="rafraichir()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.RAFRAICHIR' | translate }}"></span>
      <span class="pi pi-times-circle" (click)="fermer()"
            title="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.FERMER' | translate }}"></span>
    </div>
  </ng-template>

  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '60vh', width: '50rem'}
      ]"></app-loader>

  @if (!loading) {
    @if (cotationsTickerDecore) {
      <div class="chart">
        <p-fieldset
          legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.COURS' | translate }}">
          <p-chart type="line" [data]="cotationsTickerDecore.coursDataChartLine"
                   [options]="cotationsTickerDecore.coursOptionsChartLine"/>
        </p-fieldset>
      </div>
      <div class="ligne">
        <div class="colonne">
          <p-fieldset
            legend="{{ 'COMPOSANTS.PORTEFEUILLES.ACTIONS_VALEUR.DIALOG_COTATIONS_VALEUR.ORDRES' | translate }}">
            <p-chart type="doughnut" [data]="cotationsTickerDecore.ordresDataDoughnut" height="14rem" width="22rem"/>
          </p-fieldset>
          <app-fieldset-cotations [dto]="cotationsTickerDecore"></app-fieldset-cotations>
          <app-fieldset-indicateurs [dto]="cotationsTickerDecore.dto"></app-fieldset-indicateurs>
        </div>
        <div class="colonne">
          <app-fieldset-actualites [dto]="cotationsTickerDecore.dto"
                                   (afficherInformation)="afficherInformation($event)"></app-fieldset-actualites>
          <app-fieldset-analyses [dto]="cotationsTickerDecore.dto"
                                 (afficherInformation)="afficherInformation($event)"></app-fieldset-analyses>
          <app-fieldset-previsions [dto]="cotationsTickerDecore.dto"
                                   (afficherInformation)="afficherInformation($event)"></app-fieldset-previsions>
        </div>
      </div>
    }
  }
</p-dialog>
