div.ligne
  display: flex
  flex-direction: row

  & > div.colonne
    display: flex
    flex-direction: column
    margin: 1rem

    p-fieldset:nth-child(n+2)
      margin-top: 1rem

    .cotations, .indicateurs
      & > div, app-jauge
        margin: 0.5rem
        width: 20rem
        display: block

        & > label
          display: inline-block
          width: 12rem
          font-weight: bold

        & > span
          display: inline-block
          width: 8rem
          text-align: right

          &.positive
            color: var(--p-green-600)

          &.negative
            color: var(--p-red-600)

    .actualites, .analyses
      div
        margin: 0.5rem
        width: 30rem
        display: block

        & > span
          display: inline-block

        & > span:nth-child(1)
          font-weight: bold
          width: 5rem
          vertical-align: top

        & > span:nth-child(2)
          width: 25rem


// orientation verticale
@media screen and (orientation: portrait)
  div.ligne
    flex-direction: column

