// https://angular.dev/guide/drag-drop#transfer-draggable-elements-between-lists
.liste.cdk-drop-list-dragging .ligne:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.pi
  cursor: pointer
  color: var(--p-blue-700)

p-card
  display: block
  margin-top: 1rem

app-formulaire-creation
  display: block
  margin-top: 2rem

app-dialog-import-export
  margin-left: 1.5rem

div.liste
  display: flex
  flex-direction: column
  margin: 1rem

div.ligne, div.cdk-drag-preview.ligne
  display: flex
  flex-direction: row
  flex: none
  align-items: center
  margin: 0.5rem
  border: 0.1rem solid black
  border-radius: 0.3rem
  cursor: move

  app-configuration-portefeuille
    margin-left: 3rem

  span.pi-trash
    color: var(--p-red-800)

  & > div
    margin: 0.5rem

  & > div.colonne
    display: flex
    flex-direction: column

    & > div
      margin: 0.5rem 0 0.5rem 0

  & > app-portefeuille
    margin: 0.5rem 1rem 0.5rem 1rem
