div.liste
  display: flex
  flex-direction: column
  margin: 1rem
  & > div
    display: flex
    flex-direction: row
    align-items: center
    margin: 0.5rem
    & > div
      margin: 0.5rem
    span.pi
      cursor: pointer
    span.pi-trash
      color: var(--p-red-800)
    form
      margin: 0
