<div *ngIf="loading">
  <p-progressbar mode="indeterminate" [style]="{'height': '10px'}"/>
</div>

<app-selecteur-valeurs [portefeuille]="portefeuilleEnEdition"
                       (ferme)="this.portefeuilleEnEdition = undefined"
                       (modifie)="editerPortefeuille($event)"></app-selecteur-valeurs>

<p-card>
  <div class="p-card-title">
    {{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.CREATION' | translate }}
    <app-import-export></app-import-export>
  </div>

  <app-formulaire-creation [portefeuilles]="portefeuilles" (cree)="creerPortefeuille($event)"></app-formulaire-creation>
</p-card>

<p-card *ngIf="portefeuilles.length != 0">
  <div class="p-card-title">
    {{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.PORTEFEUILLES' | translate }}
  </div>

  <app-formulaire-modification [portefeuilles]="portefeuilles" [portefeuille]="portefeuilleEnModification"
                               (annule)="this.portefeuilleEnModification = undefined" (modifie)="modifierPortefeuille($event)"></app-formulaire-modification>

  <div class="liste">
    @for (portefeuille of portefeuilles; track portefeuille.nom; let idx = $index) {
      <div>
        <div><span class="pi pi-cog" (click)="editionPortefeuille(idx)"
                   title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.EDITER' | translate }}"></span></div>
        <div><span class="pi pi-pencil" (click)="modificationPortefeuille(idx)"
                   title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.RENOMMER' | translate }}"></span></div>
        <div><span class="pi pi-trash" (click)="supprimerPortefeuille(idx)"
                   title="{{ 'COMPOSANTS.PORTEFEUILLES.GESTION_PORTEFEUILLES.SUPPRIMER' | translate }}"></span></div>
        <div>
          {{ portefeuille.nom }} {{ tickers(portefeuille) }}
        </div>
      </div>
    }
  </div>
</p-card>
