/* You can add global styles to this file, and also import other style files */

.p-menubar-item-link-active
    color: white !important
    background-color: black
    border-radius: 5px

:root
    --p-primary-color: var(--p-blue-600) !important