/* You can add global styles to this file, and also import other style files */

.p-menubar-item-link-active
  background-color: var(--p-gray-300)
  border-radius: 0.5rem

:root
  --p-content-border-color: var(--p-gray-400) !important
  --p-card-shadow: 0 1px 2px 1px var(--p-gray-500) !important
  --p-form-field-border-color: var(--p-gray-400) !important
  font-family: system-ui

  @media screen and (min-resolution: 200dpi) and (max-resolution: 250dpi)
    font-size: small

  @media screen and (min-resolution: 250dpi)
    font-size: x-small

  span.pi:not(.pi-times-circle)
    cursor: pointer
    font-size: medium

  span.pi-times-circle
    cursor: pointer
    font-size: xx-large
