/* You can add global styles to this file, and also import other style files */

.p-menubar-item-link-active
  background-color: var(--p-gray-300)
  border-radius: 0.5rem

:root
  --p-content-border-color: var(--p-gray-400) !important
  --p-card-shadow: 0 1px 2px 1px var(--p-gray-500) !important
  --p-form-field-border-color: var(--p-gray-400) !important
  font-family: system-ui

  // https://angular.dev/guide/drag-drop#transfer-draggable-elements-between-lists
  .cdk-drag-preview
    border: none
    box-sizing: border-box
    border-radius: 4px
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)

  .cdk-drag-placeholder
    opacity: 0

  .cdk-drag-animating
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

  // drag & drop sur la gestion des portefeuilles
  div.cdk-drag-preview.ligne
    .pi
      font-size: x-large

  // drag & drop sur la gestion des tableaux
  div.cdk-drag-preview.element
    .pi
      font-size: xx-large

  // responsive design global
  @media screen and (min-resolution: 200dpi) and (max-resolution: 250dpi)
    font-size: small

  @media screen and (min-resolution: 250dpi)
    font-size: x-small

  // responsive design : gestion globale de la taille des icônes
  app-header
    .pi
      font-size: medium

  app-gestion-portefeuilles
    .pi
      font-size: x-large

  app-cours, app-portefeuilles
    .pi-arrow-circle-up, .pi-arrow-circle-down, .pi-arrow-circle-right
      font-size: small

  app-editeur-alertes
    .pi
      font-size: xx-large

  app-editeur-condition-alerte
    .pi
      font-size: xxx-large

  app-gestion-portefeuilles
    app-import-export
      .pi-exclamation-circle::before
        font-size: large

  .pi-times-circle
    font-size: xx-large

  app-gestion-tableaux
    .pi-save, .pi-exclamation-circle::before, .pi-sync
      font-size: large

    app-import-export
      .pi-exclamation-circle::before
        font-size: large

  app-tableau
    .pi-trash
      font-size: xx-large
