@if (cours !== undefined) {
  <p-panel>
    <ng-template #header>
      <h2>
        {{
          (informationsDetaillees ? 'COMPOSANTS.COURS.DETAILS_VALEUR.INFORMATIONS_DETAILLEES' : 'COMPOSANTS.COURS.DETAILS_VALEUR.COURBE_MM')
            | translate : {valeur: cours.cours.libelle, ticker: cours.cours.ticker}
        }}
      </h2>
      <span class="pi" [ngClass]="{'pi-caret-left': !cours.premier, 'pi-ban': cours.premier}"
            (click)="this.precedent.emit()"
            title="{{ 'COMPOSANTS.COURS.DETAILS_VALEUR.VALEUR_PRECEDENTE' | translate}}"></span>
      <span class="pi" [ngClass]="{'pi-caret-right': !cours.dernier, 'pi-ban': cours.dernier}"
            (click)="this.suivant.emit()"
            title="{{ 'COMPOSANTS.COURS.DETAILS_VALEUR.VALEUR_SUIVANTE' | translate}}"></span>
      <span class="lien-bandeau" (click)="abcBourse()"
            title="{{ 'COMPOSANTS.COURS.DETAILS_VALEUR.ABCBOURSE' | translate}}">A</span>
      <span class="lien-bandeau" (click)="boursorama()"
            title="{{ 'COMPOSANTS.COURS.DETAILS_VALEUR.BOURSORAMA' | translate}}">B</span>
      <span class="pi" [ngClass]="{'pi-chart-line': informationsDetaillees, 'pi-info-circle': !informationsDetaillees}"
            (click)="informationsDetaillees = !informationsDetaillees"
            title="{{
          (informationsDetaillees ? 'COMPOSANTS.COURS.DETAILS_VALEUR.COURBE_MM' : 'COMPOSANTS.COURS.DETAILS_VALEUR.INFORMATIONS_DETAILLEES')
            | translate : {valeur: cours.cours.libelle, ticker: cours.cours.ticker}
        }}"></span>
      <span class="pi pi-times-circle" (click)="this.ferme.emit()"></span>
    </ng-template>
    @if (informationsDetaillees) {
      <app-informations-ticker [cours]="cours.cours"></app-informations-ticker>
    } @else {
      <app-chart-moyennes-mobiles [cours]="cours.cours"></app-chart-moyennes-mobiles>
    }
  </p-panel>
}
