div
  & > div
    font-weight: bold

  & > div:nth-child(1)
    color: var(--p-blue-800)

  .vert
    color: var(--p-green-800)

  .rouge
    color: var(--p-red-800)

  ul
    margin: 0

    li
      span
        font-weight: bold
