@if (portefeuilleEnModification !== undefined) {
  <p-dialog
    [header]="'COMPOSANTS.PARAMETRAGE.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.MODIFICATION_NOM' | translate : {'nom': portefeuilleEnModification.nom}"
    [modal]="true" [visible]="true" [closable]="false">
    <form [formGroup]="formulaire"
          (ngSubmit)="modifierNomPortefeuille()">
      <div>
        <p-floatlabel>
          <input pInputText [pAutoFocus]="true" id="nom" formControlName="nom" autocomplete="off"/>
          <label for="nom">
            {{ 'COMPOSANTS.PARAMETRAGE.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.NOM' | translate }}
          </label>
        </p-floatlabel>
      </div>
      <div>
        <p-button
          label="{{ 'COMPOSANTS.COMMUN.ABANDONNER_MODIFICATIONS' | translate }}"
          (onClick)="this.abandon.emit()" type="reset" severity="warn" [icon]="'pi pi-times'"/>
      </div>
      <div>
        <p-button
          label="{{ 'COMPOSANTS.PARAMETRAGE.GESTION_PORTEFEUILLES.FORMULAIRE_MODIFICATION.RENOMMER' | translate }}"
          type="submit" severity="danger" [icon]="'pi pi-check'"/>
      </div>
    </form>
  </p-dialog>
}
