<app-dialog-charger-lien></app-dialog-charger-lien>

@if (cours !== undefined) {
  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '80vh', width: '100%'}
      ]"></app-loader>

  @if (!loading && dtoAbcBourse && dtoBoursoramaDecore) {
    <p-chart type="line" [data]="dtoBoursoramaDecore.coursDataChartLine"
             [options]="dtoBoursoramaDecore.coursOptionsChartLine"/>
    <div class="ligne">
      <div class="colonne">
        <app-fieldset-dividendes [data]="{dividendes: dtoAbcBourse.dividendes, cours}"></app-fieldset-dividendes>
        <app-fieldset-variations [variations]="dtoAbcBourse.variations"></app-fieldset-variations>
      </div>
      <div class="colonne">
        <app-fieldset-ratios [dto]="dtoAbcBourse"></app-fieldset-ratios>
        <p-fieldset legend="{{ 'COMPOSANTS.COURS.INFORMATIONS_VALEUR.IA.GEMINI' | translate }}">
          <app-conseils-gemini-valeur [cours]="cours"></app-conseils-gemini-valeur>
        </p-fieldset>
      </div>
    </div>
  }
}
