<app-dialog-charger-lien></app-dialog-charger-lien>

@if (cours !== undefined) {
  <app-loader [affiche]="loading" [configuration]="[
        {marginLeft: '0', marginTop: '0', height: '80vh', width: '100%'}
      ]"></app-loader>

  @if (!loading && dtoAbcBourse && dtoBoursoramaDecore) {
    <div class="chart">
      <p-fieldset
        legend="{{ 'COMPOSANTS.COURS.INFORMATIONS_VALEUR.COURS_1J' | translate }}">
        <p-chart type="line" [data]="dtoBoursoramaDecore.coursDataChartLine"
                 [options]="dtoBoursoramaDecore.coursOptionsChartLine"/>
      </p-fieldset>
    </div>
    <div class="ligne">
      <div class="colonne">
        <app-fieldset-dividendes [data]="{dividendes: dtoAbcBourse.dividendes, cours}"></app-fieldset-dividendes>
        <app-fieldset-variations [variations]="dtoAbcBourse.variations"></app-fieldset-variations>
        <p-fieldset
          legend="{{ 'COMPOSANTS.COURS.INFORMATIONS_VALEUR.ORDRES' | translate }}">
          <p-chart type="doughnut" [data]="dtoBoursoramaDecore.ordresDataDoughnut" height="13rem" width="13rem"/>
        </p-fieldset>
        <app-fieldset-cotations [dto]="dtoBoursoramaDecore"></app-fieldset-cotations>
      </div>
      <div class="colonne">
        <app-fieldset-indicateurs [data]="{dtoAbcBourse, dtoBoursorama: dtoBoursoramaDecore.dtoBoursorama}"></app-fieldset-indicateurs>
        <app-fieldset-actualites [actualites]="dtoBoursoramaDecore.dtoBoursorama.actualites"
                                 (afficherInformation)="afficherInformation($event)"></app-fieldset-actualites>
        <app-fieldset-analyses [dto]="dtoBoursoramaDecore.dtoBoursorama"
                               (afficherInformation)="afficherInformation($event)"></app-fieldset-analyses>
        <app-fieldset-previsions [dto]="dtoBoursoramaDecore.dtoBoursorama"
                                 (afficherInformation)="afficherInformation($event)"></app-fieldset-previsions>
        <p-fieldset legend="{{ 'COMPOSANTS.COURS.INFORMATIONS_VALEUR.IA.GEMINI' | translate }}">
          <app-conseils-gemini-valeur [cours]="cours"></app-conseils-gemini-valeur>
        </p-fieldset>
      </div>
    </div>
  }
}
